page-login {

	.content{
		background-image: url('../assets/img/categories-bg.jpg');
	}

	.middle-item{
		position: absolute;
		top: calc(50% - 22px);
		left: 10%;
		right: 10%;
	}

	.enter-btn{
	}
}
