page-wine {
	.content, .scroll-content{
		background-color: color($colors, light);
		color: color($colors, dark);
	}

	ion-slides{
		height: auto;
	}

	.price-tag{
		color: color($colors, light);
		position: absolute;
		top: -47px;
		left: calc(50% - 47px);
		z-index: 2;
	}

	.wine-price{
		margin-top: 40px;
		h2{
			font-weight: 400;
			font-size: 3rem;
		}
	}

	.unit{
		font-size: 16px;
		font-weight: 300;
		font-style: italic;
	}

}
